# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env*

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# Build e cache temporário
build/
tmp/
temp/
.cache/
*.log

# Exemplo ou demo que não entra no build final
app-example

# EAS: arquivos corrompidos ou grandes demais
*.tar.gz
*.zip
